<!doctype html>
<html lang="zh" ng-app="theme" ng-controller="themeCtrl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
    <link rel="stylesheet" href="../node_modules/font-awesome/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="styles/controls/angular-colorpicker.min.css">
    <link rel="stylesheet" href="styles/theme/theme-window.css">

    <!--阿里云图标库-->
    <link rel="stylesheet" href="http://at.alicdn.com/t/font_1961071_fgy6lmta6iv.css">

    <style ng-if="currentTheme=='custom-theme'">
        body.custom-theme .body-mask{
            background-image: linear-gradient(to bottom, {{currentColor}} -60%,transparent 25%, transparent 100%);
        }
    </style>
</head>
<body ng-class="currentTheme">
    <div class="wrapper">
        <div class="body-mask"></div>
        <div class="header">
            <ul>
                <li><a href="javascript:;" ng-class="{'selected':tabIndex==0}" ng-click="selectTab(0)" translate>Hot Skin</a></li>
                <li><a href="javascript:;" ng-class="{'selected':tabIndex==1}" ng-click="selectTab(1)" translate>Custom Skin</a></li>
            </ul>
            <a href="javascript:;" class="close" ng-click="close()" title="{{'Close' | translate}}">
                <i class="fa fa-lg fa-close"></i>
            </a>
            <a href="javascript:;" class="reset" ng-click="confirmShow=true" title="{{'Reset All Colors' | translate}}" >
                <i class="iconfont icon-zhongzhi"></i>
            </a>
        </div>
        <div class="content-body">
            <div class="content hot-skin" ng-style="{transform: tabIndex==0?'translateX(0px)':'translateX(-450px)'}" theme-list></div>
            <div class="content custom-skin" ng-style="{transform: tabIndex==1?'translate(0px,-228px)':'translate(450px,-228px)'}" ng-controller="customCtrl">
                <div class="color-btn" ng-repeat="item in colors">
                    <span class="color-title" ng-if="$index%2!=0" title="{{item.title | translate}}" translate>{{item.title}}</span>
                    <colorpicker color="item.color" color-type="{{item.trans?'rgba':'rgb'}}" default="{{item.default}}" type-name="{{item.name}}"></colorpicker>
                    <span class="color-title" ng-if="$index%2==0" title="{{item.title | translate}}" translate>{{item.title}}</span>
                </div>
            </div>
        </div>
        <confirm></confirm>
    </div>
</body>
<script>
    if (window.require) {
        window.nodeRequire = require;
        delete window.require;
        delete window.exports;
        delete window.module;
    }
</script>
<script src="../node_modules/jquery/dist/jquery.min.js"></script>
<script src="../node_modules/angular/angular.min.js"></script>
<script src="../node_modules/angular-translate/dist/angular-translate.min.js"></script>
<script src="scripts/directives/angular-colorpicker.js"></script>
<script src="scripts/controllers/theme.js"></script>
</html>
