.user-box{
    display: flex;
    align-items: center;
    margin-left: 12px;
    -webkit-app-region: no-drag;
    &:hover{
        .avatar{
            background-image: url('../../../assets/user/avatar_hover.png');
        }
    }
    .avatar{
        width: 54px;
        height: 54px;
        flex: none;
        border-radius: 50%;
        border: 2px solid #fff;
        overflow: hidden;
        background-color: #fff;
        background-image: url('../../../assets/user/avatar.png');
        background-position: 0 0;
        background-size: 100% 100%;
        transition: background-image 0.3s;
        cursor: pointer;
        img{
            width: 100%;
            height: 100%;
            display: none;
            object-fit: unset;
            margin: 0;
            padding: 0;
        }
        .logging{
            background: #3268A7;
            width: 100%;
            height: 100%;
            display: none;
            .icon-loading{
                font-size: 30px;
                color: #eee;
            }
        }
    }
    .user-info{
        .click-login{
            font-size: 14px;
            padding-left: 16px;
            cursor: pointer;
            color: #ccc;
            animation-timing-function: ease-in-out;
            animation-name: ani-login-text;
            animation-duration: 1.5s;
            animation-iteration-count: infinite;
            animation-direction: alternate;
            display: none;
        }
        .logging{
            display: none;
            flex-direction: column;
            justify-content: center;
            &>div{
                line-height: 1.4;
                text-align: left;
            }
        }
        .info{
            animation: none;
            display: none;
            flex-direction: column;
            justify-content: center;
            line-height: 1;
            text-align: left;
            letter-spacing: 0!important;
            cursor: default;
            .account{
                font-size: 18px;
                color: #fff;
                position: relative;
                &>div{
                    line-height: 1;
                    display: flex;
                    align-items: center;
                    span{
                        max-width: 120px;
                        flex: none;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    }
                    i{
                        font-size: 14px;
                        transform-origin: bottom;
                        bottom: -3px;
                    }
                }
                ul.dropdown-menu{
                    left: 0;
                    margin-top: 2px;
                    box-shadow: 0 6px 12px rgba(0,0,0,.175);
                    border-radius: 4px;
                    .seperator{
                        height: 11px;
                        position: relative;
                        &:after{
                            content: '';
                            position: absolute;
                            left: 50%;
                            top: 50%;
                            transform: translate(-50%,-50%);
                            height: .5px;
                            width: 85%;
                            background: #ccc;
                        }
                    }
                }
            }
            .last{
                font-size: 12px;
                line-height: 1.4;
                color: #999;
            }
        }
    }
}

body{
    &.zh_Hant,&.zh_Hans{
        .user-box .user-info .click-login{
            letter-spacing: 2px;
        }
    }
}

@keyframes ani-login-text {
    0%{
        color: #ccc;
        text-shadow: 0 1px 2px rgba(255, 255, 255, 0);
    }
    100%{
        color: #fff;
        text-shadow: 0 1px 2px rgba(255, 255, 255, 0.5);
    }
}
